* {
    margin : 0;
    padding : 0;
}

body {
    background-color: #73937E;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    /* game is of 60 and we want 3 boxes in it so 20 each let's take 18 */
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #5B2E48;
    background-color: #9F9CAB;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #471323;
    color: white;
    border-radius: 1rem;
    border: none;
}
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #471323;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #CEB992;
    font-size: 5vmin;
}

.msg-container {
    height : 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide  {
    display: none;
}